{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Log In{% endblock title %}

{% block content %}


</nav>

<div class="wrapper">
    {% if user.is_authenticated %}
    <h2>You are already logged in!</h2>
    {% else %}
    <h3>Log In</h3>
    <form method="post">{% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success ml-2" type="submit">Log In</button>
    </form>
    <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
</div>
{% endif %}

{% endblock content %}