@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');



html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

h2 {
    min-height: 100%;
    margin: 0 auto;
    padding-top: 20rem;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 75%;
    padding: 20px;
    background: rgba(darken($primary,40%), 0.85);
}

.entry {

}

.navbar {
    padding: .8rem;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1em !important;
}

.carousel-inner img {
    width: 100%;
    height: 10%;
}

.carousel-caption h1 {
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}

.btn-primary {
    background-color: #3f3f3f;
    border: 1px solid #FFFFFF;
}

.btn-primary:hover {
    background-color: #d3d3d3;
    border: 1px solid #3f3f3f;
}

.btn-outline {
    background-color: #3f3f3f;
    border: 1px solid #FFFFFF;
}

.btn-outline:hover {
    background-color: #d3d3d3;
    border: 1px solid #3f3f3f;
}

.btn-success {
    background-color: #3f3f3f;
    border: 1px solid #FFFFFF;
}

.btn-success:hover {
    background-color: #d3d3d3;
    border: 1px solid #3f3f3f;
}

.carousel-caption {
    position: absolute;
    top: 75%;
    transform: translateY(-75%);
}

.padding {
    padding-bottom: 2rem;
}

.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.lead {
    text-align: justify;
    text-justify: inter-word;
}

.welcome hr {
    border-top: 2px solid #b4b4b4;
    width:95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

.fa-twitter {
    color: #1DA1F2;
}

.fa-linkedin {
    color: #0077B5;
}

.fa-instagram {
    color: #fb3958;
}

.fa-github {
    color: #171515;
}

.fa-twitter, .fa-linkedin, .fa-instagram, .fa-github {
    font-size: 4em;
    margin: 1rem;
}


.fa-twitter:hover,
.fa-linkedin:hover,
.fa-instagram:hover,
.fa-github:hover {
    color: #d5d5d5;
}


#login-box {
  position: relative;
  margin: 5% auto;
  width: 600px;
  height: 400px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

footer {
    width: 100%;
    bottom: 0;
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
    margin-top: auto;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

.jumbotron {
    background-color: #3f3f3f;
    color: #d5d5d5;
}


@media (max-width: 992px) {
    .social a {
    font-size: 2em;
    padding: 1rem;
    }
  }
@media (max-width: 768px) {
  .carousel-caption {
        top: 45%;
    }
    .carousel-caption h1 {
        font-size: 350%;
    }

    .carousel-caption h3 {
        font-size: 140%;
        font-weight: 400;
        padding-bottom: .2rem;
    }
    .carousel-caption .btn {
        font-size: 95%;
        padding: 8px 14px;
    }
    .social a {
    font-size: 1.2em;
    padding: 0.6rem;
    }
    .carousel-indicators {
        display: none;
    }
}
@media (max-width: 576px) {
  .carousel-caption {
        top: 40%;
    }
    .carousel-caption h1 {
        font-size: 250%;
    }

    .carousel-caption h3 {
        font-size: 110%;
    }
    .carousel-caption .btn {
        font-size: 90%;
        padding: 4px 8px;
    }
    .social a {
    font-size: 1em;
    padding: 0.3rem;
    }
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








